<div class="row justify-content-md-center topo">
    <div class="col-md-5">
        <p class="titulo">Início</p>
    </div>
    <div class="col-md-4">
        <form class="form-inline my-2 my-lg-0" [formGroup]="personForm">
            <input 
                class="form-control mr-sm-2 personalizada" 
                type="search" 
                placeholder="Pesquisar" 
                formControlName="user"
                (keyup.enter)="onSearch()" 
                (blur)="onSearch()"
                aria-label="Search">
          </form>
      </div>
</div>

<div class="row justify-content-md-center topo">
   
   
    <div class="col-md-3 card-tm" *ngFor="let item of resultado">
        <div class="card-busca">
        
            <img class="img-fluidy" src="{{ item.image }}" alt="">
            <p class="name-text">{{ item.name }}</p>
            <span class="sub-texty">{{ item.species }}</span>
        </div>
       
    </div>


</div>    

