<div class="row justify-content-md-center topos tela">
    <div class="col-md-5">
        <p class="titulo">Início</p>
    </div>
    <div class="col-md-4">
        <form class="form-inline my-2 my-lg-0 ponty" [formGroup]="personForm">
            <input 
                class="form-control mr-sm-2 personalizada" 
                type="search" 
                placeholder="Pesquisar" 
                formControlName="name"
                (keyup)=onSearch()
                aria-label="Search">
          </form>
      </div>
</div>

<div class="row justify-content-md-center topo" *ngIf="controlVisao">
    <div class="col-sm-12 card-tm col-md-4" *ngFor="let item of resultado">
        <div class="card-busca">            
            <i class="fa fa-heart-o icon-a" *ngIf="!item.favorite" (click)="favorite(item)"></i>
            <i class="fa fa-heart icon-b" *ngIf="item.favorite" (click)="favorite(item)"></i>            
            <img class="img-fluidy" src="{{ item.image }}" alt="">
            <p class="name-text">{{ item.name }}</p>
            <span class="sub-texty">{{ item.species }}</span>
        </div>       
    </div>
</div>    

<div *ngIf="!controlVisao">
    <app-msg-error [visao]="false" [title]="msg" [subtitle]="texto"></app-msg-error>
</div>
