<nav class="navbar navbar-expand-lg navbar-dark bg-dark linha">
  <a class="navbar-brand">
    <span class="titulo topo"> Rick</span> <span class="t-peq">and</span> <span class="titulo">Morty</span>  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
  </div>
  <div class="bt-fa">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary bt-inicio"><i class="fa fa-home bt-ic"></i> Inicio</button>
      <button type="button" class="btn btn-secondary colr"><i class="fa fa-heart bt-ica"></i> Favoritos  
        <span class="badge badge-light-circle bti">{{ favoCount }}</span>
        
        </button>
    </div>
  </div>
</nav>

<div class="container">
 
    <router-outlet></router-outlet>
  
</div>