<nav class="navbar navbar-expand-lg navbar-dark bg-dark linha nav-ok">
  <a class="navbar-brand titulo-pn">
    <span class="titulo topo"> Rick</span> <span class="t-peq">and</span> <span class="titulo">Morty</span>  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
  </div>
  <div class="bt-fa pq-bt">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary bt-inicio bord-btn"  routerLink="/list/aplication" routerLinkActive="selecao"><i class="fa fa-home bt-ic"></i> Inicio</button>
      <button type="button" class="btn btn-secondary colr bord-btn-rig" routerLink="/list/favorito" routerLinkActive="selecao"><i class="fa fa-heart bt-ica"></i> Favoritos  
        <span class="badge badge-light-circle bti"><span class="personaliza">{{ favoCount }}</span></span>  
        </button>
    </div>
  </div>
</nav>

<div class="container">
 
    <router-outlet></router-outlet>
  
</div>