@font-face {
  font-family: "Creepster";
  src: url("../assets/fonts/Creepster-Regular.ttf") format("truetype");
}

.titulo {
  font-family: "Creepster";
  color: rgb(42, 207, 185);
  font-size: 36px;
  padding-right: 3px;
  float: left;
  -webkit-text-stroke: 1px rgb(238, 252, 114);
}

.topo {
  text-indent: 18px;
}

.t-peq {
  font-family: "Creepster";
  font-size: 14px;
  float: left;
  color: rgb(42, 207, 185);
  -webkit-text-stroke: 1px rgb(238, 252, 114);
  margin-top: 18px;
  padding-right: 3px;
}

.linha {
  border-bottom: 1px solid #c2c2c2;
  width: 100%;
}

.bt-fa {
  margin-right: 20px;
}

.bt-ic {
  font-weight: 600;
  padding-right: 6px;
}

.bt-ica {
  font-size: 14px;
  font-weight: 600;
  padding-right: 6px;
}

.personaliza {
  font-weight: 900 !important;
}

.bti {
  margin-left: 8px;
  border: 1px solid #302e2e;
  background: #fff;
  color: #000;
  width: 22px;
  height: 22px;
  padding-left: 3px;
  padding-right: 3px;
  
  font-size: 11px;
  padding-top: 4px;
  font-weight: 600;
  border-radius: 15px;
}

.colr {
  background: #000;
  color: #c2c2c2;
}
.bt-inicio {
  background: #000;
  color: #c2c2c2;
  font-weight: 600;
}

.selecao {
  background: #fff !important;
  color: #000;
  font-weight: 600;
}
.selecao-i {
  background: #000;
  color: #fff;
}

.bord-btn {
  border-top-left-radius: 10px!important;
  border-bottom-left-radius: 10px!important;
}

.bord-btn-rig {
  border-top-right-radius: 10px!important;
  border-bottom-right-radius: 10px!important;
}

@media only screen and (max-width: 766px) {
  .titulo-pn {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
  }
  .nav-ok {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .pq-bt {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
  }
}



.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
